.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.Header-logo svg {
    width: 100%;
    max-width: 29vw;
    max-height: 9.4vw;
}
.Header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.Header-nav a:first-child {
    margin-right: calc(5px + 2vw);
}

.Header-nav a {
    color: #FF6060;
    text-decoration: none;
    font-size:calc(14px + 0.5vw);
    text-align: end;
}

.Header-nav a.active {
    text-decoration: underline;
}


