.ContainerHousing {
    width: 100%;
}
.Body .Content {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.Title h2 {
    font-size: 4vmin;
    margin: 0;
}

.Title h3 {
    font-size: 2vmin;
    margin: 10px 24px 24px 0 ;
    font-weight: 500;
}

.Infos {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Owner {
    display: flex;
    justify-content: flex-end;
}
.HostName {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 2.1vmin;
    text-align: end;
    padding-right: 15px;
    line-height: 157.6%;
}
.Owner img {
    float: right;
    border-radius: 50%;
    width: 8vmin;
}
.HouseDescription {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3vw;
}
.Collapse {
    min-width: 320px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.CollapseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(1px + 1vh);
    color: #FFF;
    background: #FF6060;
    border-radius: 10px;
}
.Arrow {
    width: 32px;
    height: 32px;
}

.CollapseExpanded {
    position: relative;
    background: #F6F6F6;
    padding: 20px 10px 40px 15px;
    line-height: 25px;
    margin: 0;
    border-radius: 10px;
    transition: all .3s;
    animation: myAnim .3s ease;
    z-index: -100;
}
@keyframes myAnim {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

.CollapseExpanded p {
    margin: 0;
}

.CollapseHeader-expanded {
    display: block;
}
@media screen and (max-width: 780px) {
    .Content {
        display: flex;
        flex-direction: column;
    }
    .CollapseHeader {
        font-size: 13px;
    }
    .CollapseExpanded {
        line-height: 17px;
    }
    .CollapseExpanded p,
    .CollapseExpanded span {
        font-size: 12px;
    }
    .CollapseHidden {
        display: none;
    }
    .HouseDescription {
        flex-wrap: wrap;
    }
    .Tags {
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .Infos {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
    }
    .HostName {
        font-size: calc(8px + 1vmin);
    }
    .Title h2 {
        font-size: 18px;
    }
    .Title h3 {
        font-size: 14px;
    }
    .Owner {
        align-items: center;
    }
    .Owner img {
        width: calc(15px + 8vmin);
        height: calc(15px + 8vmin);
    }
    .Rating {
        width: 10vw;
    }
}

@media screen and(max-width: 420px){
    .Tags {
        font-size: 10px;
    }
}