.ContainerHousing {
    width: 100%;
}
.Content {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.Title h2 {
    font-size: 3vmin;
    margin-top: 0;
}

.Title h3 {
      font-size: 2vmin;
      margin: 0 24px 24px 0 ;
}

.Infos {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Owner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.HostName {
    width: 50%;
    font-size: 2.3vmin;
    text-align: right;
    padding-right: 15px;
    line-height: 157.6%;
}
.Owner img {
    float: right;
    border-radius: 50%;
    width: 8vmin;
    height: 8vmin;
}
.HouseDescription {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3vw;
}
.Collapse {
    min-width: 320px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.Arrow {
    width: 32px;
    height: 32px;
}

.CollapseHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #FFF;
    background: #FF6060;
    border-radius: 10px;
}

.Content {
    transition: .3s;
    transform: translateY(0)
}

.CollapseExpanded {
    background: #F6F6F6;
    padding: 20px 10px 40px 15px;
    transform: translateY(0);
    flex-direction: column;
    line-height: 25px;
    margin: 0;
    border-radius: 10px;
}
.CollapseExpanded p {
    margin: 0;
}

.CollapseHidden {
    display: none;
    transform: translateY(-100%);
}
@media screen and (max-width: 742px) {

    .CollapseHeader {
        font-size: 13px;
    }
    .CollapseExpanded {
        line-height: 17px;
    }
    .CollapseExpanded p,
    .CollapseExpanded span {
        font-size: 12px;
    }
}
@media screen and (max-width: 720px) {
    .Content {
        display: flex;
        flex-direction: column;
    }
    .HouseDescription {
        flex-wrap: wrap;
    }
    .Tags {
        font-size: 12px;
    }
    .Infos {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
    }
    .HostName {
        font-size: calc(8px + 1vmin);
    }
    .Title h2 {
        font-size: 18px;
    }
    .Title h3 {
        font-size: 14px;
    }
    .Owner {
        align-items: center;
    }
    .Owner img {
        width: calc(15px + 8vmin);
        height: calc(15px + 8vmin);
    }
    .Rating {
        width: 10vw;
    }
}

@media screen and(max-width: 420px){
    .Tags {
        font-size: 10px;
    }
}