.Gallery {
    position: relative;
    max-width: 1240px;
    max-height: 415px;
    min-width: 320px;
    min-height: 255px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    border-radius: calc(5px + 1.5vw);
}
.Picture {
    position: relative;
    display: flex;
}
.PictureCompteur {
    position: absolute;
    bottom: 24px;
    left: 50%;
    font-size: calc(10px + 1vw);
    color: #fff;
}
.Picture img{
    width: 100%;
    height: 100%;
    max-width: fit-content;
}
.Buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.Prev,
.Next {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1.5vw;
    padding: 1vw;
}

.Prev:hover,
.Next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Next {
    transform: rotate(180deg);
}

.Prev img,
.Next img{
    width: calc(10px + 1.5vw);
    height: calc(10px + 2.3vw);
}