.gallery {
    position: relative;
    max-width: 1240px;
    max-height: 415px;
    min-width: 335px;
    min-height: 255px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    border-radius: calc(5px + 1.5vw);
}
.picture {
    width: 100%;
    height: 100%;
    display: flex;
}
.picture img{
    width: 100%;
    height: 100%;
    max-width: fit-content;
}
.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.prev,
.next {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1.5vw;
    padding: 1vw;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.next {
    transform: rotate(180deg);
}

.prev img,
.next img{
    width: 4vw;
    height: 5vw;
}