.Home-banner {
    position: relative;
    height: 223px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.Home-banner img {
    width: 1240px;
    height: 827px;
    /*filter: contrast(0.9);*/
}

.Home-banner h1 {
    position: absolute;
    width: 100%;
    font-size: calc(20px + 1.5vw);
    color: #fff;
    text-align: center;
}
