body {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
  margin: 0 auto;
  position: relative;
  padding: 5vh 2vw 18vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
}

* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}