body {
  /*margin: 0 auto;*/
  /*padding-top: 40px;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  padding: 3vw;
  margin: auto;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
}

* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}