.SectionCard {
    width: 100%;
    max-width: 1240px;
    height: auto;
    border-radius: 25px;
    background-color: #F6F6F6;
    padding: calc(1px + 5vh) calc(1px + 1.4vw);
}

@media (max-width: 819px) {
    .SectionCard{
        display: contents;
    }
}

.SectionCard ul {
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vh 1vw;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    justify-items: center;
    justify-content: center;
}

.SectionCard ul li {
    max-width: 340px;
    max-height: 340px;
    min-width: 280px;
    min-height: 225px;
    width: calc(100px + 16.355vw);
    height: calc(100px + 16.355vw);
    background-size: cover;
    border-radius: 10px;
    list-style: none;
}

.LinkHousing {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.LinkHousing p{
    margin: 0;
    font-size: 1rem;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 3.5vw 0 1vw;
    border-radius: 0 0 10px 10px;
}

.TextBackground {
    background-color: rgba(255,96,96,.5);
    text-shadow: -1px 1px 10px black;
}

@media (max-width: 1000px){
    .SectionCard ul {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw 3vh;
    }
    .SectionCard ul li {
        max-width: 340px;
        max-height: 340px;
        min-width: 280px;
        min-height: 225px;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 620px) {
    .SectionCard ul {
        grid-template-columns: 1fr;
        grid-gap: 2vh
    }
    .SectionCard ul li {
        max-width: 340px;
        max-height: 340px;
        min-width: 100%;
        min-height: 255px;
        width: 100%;
        height: 100%;
    }
}