body {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  font-weight: 500;
  font-size: 100%;
  font-style: normal;
  margin: 0 auto;
  padding: 5vw 5vw 0 5vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
}

* {
  box-sizing: border-box;
}